*.pyc
build
*.wixobj
*.wixpdb
*.msi
Output
digitalpanda/Digital_Panda_Shared_Libraries.egg-info/
digitalpanda/Digital_Panda_Tray_Application.egg-info/
3rdparty/Send2Trash-1.2.0/dist/*.egg
AutoUpdate/AutoUpdate.sdf
AutoUpdate/AutoUpdate.suo
AutoUpdate/AutoUpdate.opensdf
AutoUpdate/Debug/
AutoUpdate/ipch/
AutoUpdate/AutoUpdate/AutoUpdate.vcxproj.user
AutoUpdatePy/dist/
AutoUpdatePy/Digital_Panda_Auto_Update.egg-info/
digitalpanda.co.za_responsive/updates_dev/Digital Panda Tray Application*.zip
