body {
	background-color:#00FF00;
	background-image:none;
}
div {
	font-size: 20pt;
}
div.logoWords {
    width:160px;
}
div.logoWordsDigital {
	margin-top:10px;
}
div.logoWordsPanda {
	margin-left:2px;
    margin-top:0px;
}
div.logoBlurb {
	margin-top:2px;
	margin-left:2px;
}
div.logoContainer {
    width:400px;
}
